<?xml version="1.0" ?>
<maward>
	<system>
		<!-- пользователь от имени которого будет запускаться демон -->
		<user>mawar</user>
	</system>
	
	<!-- системные ограничения -->
	<limits>
		<!-- число воркеров -->
		<workers>3</workers>
		
		<!-- число открытых файлов -->
		<files>1000</files>
		
		<!-- число блоков в выходном буфере -->
		<output-buffers>1000</output-buffers>
	</limits>
	
	<listen>
		<c2s>5222</c2s>
		<xep0114>4000</xep0114>
		<!-- <status>/home/alex/prj/mawar/trunk/mawar.status</status> -->
	</listen>
	
	<hosts>
		<host name="localhost">
			<registration enabled="yes" />
			<storage engine="mysql">
				<server>unix:/var/lib/mysql/mysql.sock</server>
				<username>mawar</username>
				<password>123456</password>
				<database>mawar</database>
			</storage>
			<admins>
				<admin jid="admin@localhost" />
			</admins>
			<disco>
				<item jid="support@conference.jsmart.web.id" />
			</disco>
			<!-- other settings -->
		</host>
		
		<external name="icq.neofly.ru">
			<secret>123456</secret>
			<!-- other settings -->
		</external>
		
		<host name="shamangrad.net">
			
			<!-- Включение/отключение регистрации -->
			<registration enabled="yes" />
			
			<!-- Политика поведения при подключении клиента с занятым ресурсом -->
			<on-bind-conflict>remove-old</on-bind-conflict>
			
			<!-- Настройки TLS -->
			<tls>
				<!-- Путь к CA-сертификатам -->
				<ca-certificate>/usr/local/etc/mawar/ca.crt</ca-certificate>
				
				<!-- Путь к сертификату сервера -->
				<certificate>/usr/local/etc/mawar/xmpp-server.crt</certificate>
				
				<!-- Путь к ключу для сертификата сервера -->
				<private-key>/usr/local/etc/mawar/xmpp-server.key</private-key>
				
				<!-- Путь к списку отзыва -->
				<crl></crl>
				
				<!-- Описание приоритета протоколов -->
				<priority>NORMAL:+COMP-DEFLATE</priority>
				
				<!-- Требуется ли TLS -->
				<required />
			</tls>
			
			<storage engine="mysql">
				<server>localhost</server>
				<username>mawar</username>
				<password>123456</password>
				<database>mawar_shamangrad</database>
			</storage>
			<!-- other settings -->
		</host>
		<host name="home.the1st.net.ru">
			<storage engine="mysql">
				<server>localhost</server>
				<username>mawar</username>
				<password>123456</password>
				<database>mawar_shamangrad</database>
			</storage>
			<!-- other settings -->
		</host>
		<!-- other vhosts -->
	</hosts>
</maward>
