<?xml version="1.0" ?>
<maward>
	
	<limits>
		<workers>3</workers>
		<c2s_sessions>1000</c2s_sessions>
	</limits>
	<listen>
		<c2s>5222</c2s>
	</listen>
	
	<hosts name="1">
		<host name="localhost">
			<storage engine="mysql">
				<server>localhost</server>
				<username>mawar</username>
				<password>123456</password>
				<database>mawar_shamangrad</database>
			</storage>
			<!-- other settings -->
		</host>
		<host name="shamangrad.net">
			<storage engine="mysql">
				<server>localhost</server>
				<username>mawar</username>
				<password>123456</password>
				<database>mawar_shamangrad</database>
			</storage>
			<!-- other settings -->
		</host>
		<!-- other vhosts -->
	</hosts>
</maward>