<?xml version="1.0" ?>
<maward>
	<system>
		<user>mawar</user>
	</system>
	
	<limits>
		<workers>3</workers>
		<c2s_sessions>1000</c2s_sessions>
		<output-buffer>1000</output-buffer>
	</limits>
	<listen>
		<c2s>5222</c2s>
		<xep0114>4000</xep0114>
		<!-- <status>/home/alex/prj/mawar/trunk/mawar.status</status> -->
	</listen>
	
	<hosts>
		<host name="localhost">
			<registration enable="yes" />
			<storage engine="mysql">
				<server>unix:/var/lib/mysql/mysql.sock</server>
				<username>mawar</username>
				<password>123456</password>
				<database>mawar</database>
			</storage>
			<!-- other settings -->
		</host>
		
		<external name="conference.localhost">
			<secret>secret</secret>
			<!-- other settings -->
		</external>
		
		<host name="shamangrad.net">
			<storage engine="mysql">
				<server>localhost</server>
				<username>mawar</username>
				<password>123456</password>
				<database>mawar_shamangrad</database>
			</storage>
			<!-- other settings -->
		</host>
		<host name="home.the1st.net.ru">
			<storage engine="mysql">
				<server>localhost</server>
				<username>mawar</username>
				<password>123456</password>
				<database>mawar_shamangrad</database>
			</storage>
			<!-- other settings -->
		</host>
		<!-- other vhosts -->
	</hosts>
</maward>